@model List<WebMVC.EntityFramework.AGENT>
@{
    ViewBag.Title = "ExportAgentPDF";
}
<h2 size="20" align="center">AGENT MANAGEMENT</h2>
<table class="table table-striped table-bordered table-hover">
    <tbody>
    <td>AgentCode</td>
    <td>AgentName</td>
    <td>Status</td>
    <td>Owner</td>
    <td>Address</td>
    <td>City</td>
    <td>LastActiveDate</td>
    <td>ClosedDate</td>
    </tbody>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.AgentCode)</td>
                <td>@Html.DisplayFor(model => item.AgentName)</td>
                <td>@Html.DisplayFor(model => item.AgentStatus)</td>
                <td>@Html.DisplayFor(model => item.Owner)</td>
                <td>@Html.DisplayFor(model => item.Address1)</td>
                <td>@Html.DisplayFor(model => item.CityName)</td>
                <td>@Html.DisplayFor(model => item.LastActiveDate)</td>
                <td>@Html.DisplayFor(model => item.CloseDate)</td>
            </tr>
        }
    </tbody>
</table>


