@model PagedList.IPagedList<WebMVC.EntityFramework.MERCHANT>
@using PagedList.Mvc;
@using System.Web.Mvc;
@using WebMVC.EntityFramework;
@{
    ViewBag.Title = "Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Session[WebMVC.Common.CommonConstants.USER_SESSION]; //khai báo 1 session bên common giống như bên Cart
    var temp = new USER_INFORMATION();
    if (model != null)
    {
        temp = (USER_INFORMATION)model;
    }
    var MerchantType = (SelectList)ViewBag.MerchantType;
    var RegionType = (SelectList)ViewBag.RegionType;
    var MerchantTypeValue = (List<string>)ViewBag.MerchantTypeValue;
    var RegionTypeValue = (List<string>)ViewBag.RegionTypeValue;
    var ActiveTypeValue = (List<string>)ViewBag.ActiveTypeValue;
}
@section header{
    Danh sách các Merchant
}
<link href="~/Assets/css/myStyle.css" rel="stylesheet" />
<script type="text/javascript">
    function OnComplete(code) {
        var id = "#btnStatus_" + code
        var currentStatus = $(id).text();
        if (currentStatus == 'ACTIVE') {
            $(id).removeClass('btn btn-success').addClass('btn btn-danger')
            $(id).text('INACTIVE');
        } else {
            $(id).removeClass('btn btn-danger').addClass('btn btn-success')
            $(id).text('ACTIVE');
        }

    }
</script>


@if (Convert.ToChar(temp.UserType) == 'T')
{
    <div class="col-md-2"><a href="/Management/AddNewMerchant"> <button class="btn btn-primary"> Add new </button></a></div>
}

@using (Html.BeginForm("Merchant", "Management", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <input type="text" id="searchString" value="@ViewBag.searchString" name="searchString" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Tìm</button><br /><br />
            </div>

        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("searchString").focus();
        };
    </script>
}


@using (Html.BeginForm("Merchant", "Management", FormMethod.Get))
{
    <div id="mySidenav" class="sidenavFilter" style="top:25%">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Loại merchant
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                @foreach (var item in MerchantType)
                {
                    <li><input id="@item.Value" class="CheckValue" type="checkbox" name="MerchantTypeValue" value="@item.Value">@item.Text</li>
                }
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Vùng Miền
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                @foreach (var item in RegionType)
                {
                    <li><input id="@item.Value" class="CheckValue" type="checkbox" name="RegionTypeValue" value="@item.Value">@item.Text</li>
                }
            </ul>
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Trạng thái
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li><input id="A" class="CheckValue" type="checkbox" name="ActiveTypeValue" value="A">Active</li>
                <li><input id="I" class="CheckValue" type="checkbox" name="ActiveTypeValue" value="I">Inactive</li>
            </ul>
        </div>
        <br>
        <p>
            <button id="btnMerchantType" type="submit" class="btn btn-primary">Filter</button>
            <button id="cleanCheckbox" type="submit" class="btn btn-primary">Clean</button>
        </p>
        
    </div>

}

<div id="main">
    <div class="container-fluid">
        <div class="row">
            <span style="font-size:20px;cursor:pointer;margin-left:10px" onclick="openNav()"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Merchant Code</th>
                                    <th>Merchant Name</th>
                                    <th>Merchant Type</th>
                                    <th>Status</th>
                                    <th>Owner</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Last Active Date</th>
                                    <th>Closed Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.MerchantCode">
                                        <td>
                                            @Html.ActionLink(@item.MerchantCode, "ViewDetail_Merchant", "Management",
                                         new { merchantCode = @item.MerchantCode }, null)
                                        </td>
                                        <td>@item.MerchantName</td>
                                        <td>@item.Description</td>
                                        <td>

                                            @if (Convert.ToChar(@item.Status) == 'A')
                                            {
                                                @Ajax.ActionLink("ACTIVE", "ChangeStatus", "Management", new { @id = item.MerchantCode }, new AjaxOptions
                                               {
                                                   OnComplete = "OnComplete('" + @item.MerchantCode + "')",
                                                   HttpMethod = "Post"
                                               }, new { id = "btnStatus_" + @item.MerchantCode, @class = "btn btn-success" })

                                            }
                                            else
                                            {
                                                @Ajax.ActionLink("INACTIVE", "ChangeStatus", "Management", new { @id = item.MerchantCode }, new AjaxOptions
                                               {
                                                   OnComplete = "OnComplete('" + @item.MerchantCode + "')",
                                                   HttpMethod = "Post"
                                               }, new { id = "btnStatus_" + @item.MerchantCode, @class = "btn btn-danger" })

                                            }
                                        </td>
                                        <td>@item.Owner</td>
                                        <td>@item.Address1</td>
                                        <td>@item.CityName</td>
                                        <td>@item.LastActiveDate.Value.ToString("yyyy-MM-dd")</td>
                                        <td>@item.CloseDate.Value.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, Page => Url.Action(@ViewBag.action, "Management", new { Page, @searchString = @ViewBag.searchString, @agentCode = @ViewBag.agentCode, @MerchantType = ViewBag.tempMerchantType, @RegionType = ViewBag.tempRegionType, @Active = ViewBag.tempActive }))
                    </div>
                    <div class="panel-body">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-11 text-right">
    <a href="@Url.Action("ExportPDF", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">PDF</a>
    <a href="@Url.Action("MerchantExportExcel", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">Excel</a>
    <a href="@Url.Action("MerchantExportCSV", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">CSV</a>
</div>

<script type="text/javascript">
    @if (MerchantTypeValue != null)
    {
        foreach (var item in MerchantTypeValue){
        <text>
    $("#@item").prop('checked', true);
    </text>
        }
    }

    @if (RegionTypeValue != null)
       {
           foreach (var item in RegionTypeValue)
           {
               <text>
    $("#@item").prop('checked', true);
    </text>
           }
       }

    @if (ActiveTypeValue != null)
        {
            foreach (var item in ActiveTypeValue)
            {
                <text>
    $("#@item").prop('checked', true);
    </text>
            }
        }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#cleanCheckbox').off('click').on('click', function (e) {
            e.preventDefault();
            $(".CheckValue").prop('checked', false);
        });
    });

</script>
