@model List<WebMVC.EntityFramework.MERCHANT>
@using PagedList.Mvc;
@using System.Web.Mvc;
@using WebMVC.EntityFramework;
@using WebMVC.Models;
@{
    ViewBag.Title = "Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Session[WebMVC.Common.CommonConstants.USER_SESSION]; //khai báo 1 session bên common giống như bên Cart
    var temp = new USER_INFORMATION();
    if (model != null)
    {
        temp = (USER_INFORMATION)model;
    }
    var MerchantType = (SelectList)ViewBag.MerchantType;
    var RegionType = (SelectList)ViewBag.RegionType;
    var MerchantTypeValue = (List<string>)ViewBag.MerchantTypeValue;
    var RegionTypeValue = (List<string>)ViewBag.RegionTypeValue;
    var ActiveTypeValue = (List<string>)ViewBag.ActiveTypeValue;
    var DoanhThu = (List<DoanhThuMerchant>)ViewBag.DoanhThu;
}
@section header{
    Danh sách các Merchant
}
<style>
    #mySidenav li {
        list-style-type: none;
        margin-left: 10%;
        font-weight: lighter;
    }

    li > label{
        font-weight: lighter;
    }
    .btn-default{
        font-weight: bold;
    }

</style>
<link href="~/Assets/css/myStyle.css" rel="stylesheet" />
<script type="text/javascript">
    function OnComplete(code) {
        var id = "#btnStatus_" + code
        var currentStatus = $(id).text();
        if (currentStatus == 'ACTIVE') {
            $(id).removeClass('btn btn-success').addClass('btn btn-danger')
            $(id).text('INACTIVE');
        } else {
            $(id).removeClass('btn btn-danger').addClass('btn btn-success')
            $(id).text('ACTIVE');
        }

    }
</script>


@if (Convert.ToChar(temp.UserType) == 'T')
{
    <div class="col-md-2"><a href="/Management/AddNewMerchant"> <button class="btn btn-primary"> Add new </button></a></div>
}

@using (Html.BeginForm("Merchant", "Management", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <input type="text" id="searchString" value="@ViewBag.searchString" name="searchString" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Tìm</button><br /><br />
            </div>

        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("searchString").focus();
        };
    </script>

    <div id="mySidenav" class="sidenavFilter" style="top:25%">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <button type="button" style="width:98%" class="btn btn-default" data-toggle="collapse" data-target="#MerchantType" >Loại Merchant</button>
        <div id="MerchantType" class="collapse in">
            @foreach (var item in MerchantType)
            {
                <li><label><input id="@item.Value" class="CheckValue" type="checkbox" name="MerchantTypeValue" value="@item.Value">@item.Text</label></li>
            }
        </div>

        <button type="button" style="width:98%" class="btn btn-default" data-toggle="collapse" data-target="#RegionType">Vùng Miền</button>
        <div id="RegionType" class="collapse in">
            @foreach (var item in RegionType)
            {
                <li><label><input id="@item.Value" class="CheckValue" type="checkbox" name="RegionTypeValue" value="@item.Value">@item.Text</label></li>
            }
        </div>

        <button type="button" style="width:98%" class="btn btn-default" data-toggle="collapse" data-target="#status">Status</button>
        <div id="status" class="collapse in">

            <li><label><input id="A" class="CheckValue" type="checkbox" name="ActiveTypeValue" value="A">Active</label></li>
            <li><label><input id="I" class="CheckValue" type="checkbox" name="ActiveTypeValue" value="I">Inactive</label></li>

        </div>
        <br>
        <center>
            <p>
                <button id="btnMerchantType" type="submit" class="btn btn-primary">Filter</button>
                <button id="cleanCheckbox" type="submit" class="btn btn-primary">Clean</button>
            </p>
        </center>
    </div>

}

<div id="main">
   @Html.Partial("MerchantPartial", Model)
</div>
               <script type="text/javascript">
                   function OnCriteria(page, includeNewCriteria) {
                       var crit;
                       if (includeNewCriteria) {
                           crit = ($('#searchString'))[0].value;
                       } else {
                           crit = "";
                       }
                       $.ajax(
                       {
                           type: "GET",
                           url: "Management/Agent?page=" + page + "&searchString=" + crit,
                           success: function (result) {
                               $("#main").html(result.toString());
                           },
                           error: function () {
                               alert("Searching failed!");
                           }
                       });
                   }
               </script>
  

        <div class="col-md-11 text-right">
            <a href="@Url.Action("ExportMerchantPDF", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">PDF</a>
            <a href="@Url.Action("MerchantExportExcel", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">Excel</a>
            <a href="@Url.Action("MerchantExportCSV", "Management", new { searchString = ViewBag.searchString })" class="btn btn-primary">CSV</a>
        </div>

<script type="text/javascript">
    @if (MerchantTypeValue != null)
    {
        foreach (var item in MerchantTypeValue){
        <text>
    $("#@item").prop('checked', true);
    </text>
        }
    }

    @if (RegionTypeValue != null)
       {
           foreach (var item in RegionTypeValue)
           {
               <text>
    $("#@item").prop('checked', true);
    </text>
           }
       }

    @if (ActiveTypeValue != null)
        {
            foreach (var item in ActiveTypeValue)
            {
                <text>
    $("#@item").prop('checked', true);
    </text>
            }
        }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#cleanCheckbox').off('click').on('click', function (e) {
            e.preventDefault();
            $(".CheckValue").prop('checked', false);
        });
    });

</script>
