@model WebMVC.EntityFramework.MERCHANT
@{
    ViewBag.Title = "ViewDetail_Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewDetail_Merchant</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MerchantCode)

    <div class="col-lg-6">
        <form role="form">
            <div class="form-group">
                <labe>@Html.LabelFor(model => model.MerchantName)</labe>
                @Html.TextBoxFor(model => model.MerchantName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.MerchantName)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.BackEndProcessor)</labe>
                @Html.TextBoxFor(model => model.BackEndProcessor, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.BackEndProcessor)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Status)</labe>
                @Html.TextBoxFor(model => model.Status, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Status)
            </div>


            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Owner)</labe>
                @Html.TextBoxFor(model => model.Owner, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Owner)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.MerchantType)</labe>
                @Html.TextBoxFor(model => model.MerchantType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MerchantType)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Address1)</labe>
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Address1)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Address2)</labe>
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Address2)
            </div>



            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Address3)</labe>
                @Html.TextBoxFor(model => model.Address3, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Address3)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.CityCode)</labe>
                @Html.TextBoxFor(model => model.CityCode, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CityCode)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Zip)</labe>
                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
        </form>
    </div>


    <div class="col-lg-6">
        <form role="form">

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Phone)</labe>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Fax)</labe>
                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Fax)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.Email)</labe>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.ApprovalDate)</labe>
                @Html.TextBoxFor(model => model.ApprovalDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.ApprovalDate)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.CloseDate)</labe>
                @Html.TextBoxFor(model => model.CloseDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CloseDate)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.BankCardDBA)</labe>
                @Html.TextBoxFor(model => model.BankCardDBA, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.BankCardDBA)
            </div>



            <div class="form-group">
                <labe>@Html.LabelFor(model => model.FirstActiveDate)</labe>
                @Html.TextBoxFor(model => model.FirstActiveDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.FirstActiveDate)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.LastActiveDate)</labe>
                @Html.TextBoxFor(model => model.LastActiveDate, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.LastActiveDate)
            </div>

            <div class="form-group">
                <labe>@Html.LabelFor(model => model.AgentCode)</labe>
                @Html.TextBoxFor(model => model.AgentCode, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.AgentCode)
            </div>
        </form>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
