@model List<WebMVC.Models.MerchantSummaryDailyTiny >
@{
    ViewBag.Title = "MerchantStatistical";
}
<h2 size ="20" align ="center">MERCHANT SUMMARY DAILY STATISTICAL </h2>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <td>ReportDate</td>
        <td>MerchantCode</td>
        <td>SaleAmount</td>
        <td>SaleCount</td>
        <td>ReturnAmount</td>
        <td>ReturnCount</td>
        <td>NetAmount</td>
        <td>TransactionCount</td>
        <td>KeyedAmount</td>
    </tbody>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.ReportDate)</td>
                <td>@Html.DisplayFor(model => item.MerchantCode)</td>
                <td>@Html.DisplayFor(model => item.SaleAmount)</td>
                <td>@Html.DisplayFor(model => item.SaleCount)</td>
                <td>@Html.DisplayFor(model => item.ReturnAmount)</td>
                <td>@Html.DisplayFor(model => item.ReturnCount)</td>
                <td>@Html.DisplayFor(model => item.NetAmount)</td>
                <td>@Html.DisplayFor(model => item.TransactionCount)</td>
                <td>@Html.DisplayFor(model => item.KeyedAmount)</td>

            </tr>
        }
    </tbody>
</table>

