@model WebMVC.EntityFramework.MERCHANT_SUMMARY_YEARLY
@using PagedList.Mvc;
@using System.Web.Mvc;
@using WebMVC.EntityFramework;
@{
    ViewBag.Title = "Detail_MerchantSummaryYearly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @ViewBag.ReportYear - @ViewBag.MerchantCode
}
<hr />
<div class="row">
    <div class="col-xs-2">
        <p><strong>Year:</strong></p>
        <p><strong>Merchant Code:</strong></p>
        <p><strong>Merchant Type:</strong></p>
        <p><strong>Region:</strong></p>
        <p><strong>Agent Code:</strong></p>
    </div>
    <div class="col-xs-3">
        <p>@Model.ReportYear</p>
        <p>@Html.ActionLink(@Model.MerchantCode, "ViewDetail_Merchant", "Management", new { merchantCode = @Model.MerchantCode }, null)</p>
        <p>@ViewBag.MerchantTypeName</p>
        <p>@ViewBag.RegionName</p>
        <p>
            @Html.ActionLink(@Model.AgentCode, "ViewDetail_Agent", "Management",
                                                  new { agentCode = @Model.AgentCode }, null)
        </p>
    </div>
</div>

<hr />
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Statistical</th>
            <th>Revenue</th>
            <th>Transaction</th>
            <th>Sale Amount</th>
            <th>Sale Count</th>
            <th>Return Amount</th>
            <th>Return Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Keyed</th>
            <td>@Model.KeyedNetAmount</td>
            <td>@Model.KeyedTransactionCount</td>
            <td>@Model.KeyedAmount</td>
            <td>@Model.KeyedCount</td>
            <td>@Model.KeyedReturnAmount</td>
            <td>@Model.KeyedReturnCount</td>
        </tr>
        <tr>
            <th>Foreign Card</th>
            <td>@Model.ForeignCardNetAmount</td>
            <td>@Model.ForeignCardTransactionCount</td>
            <td>@Model.ForeignCardAmount</td>
            <td>@Model.ForeignCardCount</td>
            <td>@Model.ForeignCardReturnAmount</td>
            <td>@Model.ForeignCardReturnCount</td>
        </tr>
        <tr>
            <th>Debit Card</th>
            <td>@Model.DebitCardNetAmount</td>
            <td>@Model.DebitCardTransactionCount</td>
            <td>@Model.DebitCardAmount</td>
            <td>@Model.DebitCardCount</td>
            <td>@Model.DebitCardReturnAmount</td>
            <td>@Model.DebitCardReturnCount</td>
        </tr>
        <tr>
            <th>Visa Card</th>
            <td>@Model.VisaCardNetAmount</td>
            <td>@Model.VisaCardTransactionCount</td>
            <td>@Model.VisaCardAmount</td>
            <td>@Model.VisaCardCount</td>
            <td>@Model.VisaCardReturnAmount</td>
            <td>@Model.VisaCardReturnCount</td>
        </tr>
        <tr>
            <th>Discover Card</th>
            <td>@Model.DiscoverCardNetAmount</td>
            <td>@Model.DiscoverCardTransactionCount</td>
            <td>@Model.DiscoverCardAmount</td>
            <td>@Model.DiscoverCardCount</td>
            <td>@Model.DiscoverCardReturnAmount</td>
            <td>@Model.DiscoverCardReturnCount</td>
        </tr>
        <tr>
            <th>Master Card</th>
            <td>@Model.MasterCardNetAmount</td>
            <td>@Model.MasterCardTransactionCount</td>
            <td>@Model.MasterCardAmount</td>
            <td>@Model.MasterCardCount</td>
            <td>@Model.MasterCardReturnAmount</td>
            <td>@Model.MasterCardReturnCount</td>
        </tr>
        <tr>
            <th>American Express Card</th>
            <td>@Model.AmericanExpressNetAmount</td>
            <td>@Model.AmericanExpressTransactionCount</td>
            <td>@Model.AmericanExpressAmount</td>
            <td>@Model.AmericanExpressCount</td>
            <td>@Model.AmericanExpressReturnAmount</td>
            <td>@Model.AmericanExpressReturnCount</td>
        </tr>
        <tr>
            <th>Other Card</th>
            <td>@Model.OtherCardNetAmount</td>
            <td>@Model.OtherCardTransactionCount</td>
            <td>@Model.OtherCardAmount</td>
            <td>@Model.OtherCardCount</td>
            <td>@Model.OtherCardReturnAmount</td>
            <td>@Model.OtherCardReturnCount</td>
        </tr>
        <tr>
            <th>Total</th>
            <th>@Model.NetAmount</th>
            <th>@Model.TransactionCount</th>
            <th>@Model.SaleAmount</th>
            <th>@Model.SaleCount</th>
            <th>@Model.ReturnAmount</th>
            <th>@Model.ReturnCount</th>
        </tr>
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to List", "Index", "Statistical")
</div>