@using WebMVC.EntityFramework;
@model List<WebMVC.Models.MerchantSummaryDailyTiny>
@{
    ViewBag.Title = "ViewDetailDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Session[WebMVC.Common.CommonConstants.USER_SESSION];
    var temp = new USER_INFORMATION();
    if (model != null)
    {
        temp = (USER_INFORMATION)model;
    }

    int NumberUnreadMessage = (int)Session[WebMVC.Common.CommonConstants.NUMBER_UNREAD_MESSAGE];
}
<h2>MERCHANT DETAIL STATISTICAL </h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Merchant Code</th>
            <th>Sale Amount</th>
            <th>Sale Count</th>
            <th>Return Amount</th>
            <th>Return Count</th>
            <th>Net Amount</th>
            <th>TransactionCount</th>
            <th>Keyed Count</th>
            <th>Report Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MerchantCode</td>
                <td>@item.SaleAmount</td>
                <td>@item.ReturnAmount</td>
                <td>@item.SaleCount</td>
                <td>@item.ReturnCount</td>
                <td>@item.NetAmount</td>
                <td>@item.TransactionCount</td>
                <td>@item.KeyedAmount</td>
                <td>@item.ReportDate.ToString("yyyy-MM-dd") </td>

            </tr>
        }
    </tbody>
</table>
@if (Convert.ToChar(temp.UserType) != 'M')
{
    <div>
        @Html.ActionLink("Back to List", "Index", "Statistical")
    </div>
}




