@model WebMVC.EntityFramework.MESSAGE
@{
    ViewBag.Title = "ViewMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {

}

<style>
    p {
        margin: 0px 10px 0px 750px;
    }
</style>

<a href="/Message/Index" class="btn btn-primary">Hộp thư đến</a>
<a href="/Message/MessageSent" class="btn btn-primary">Tin nhắn đã gửi</a>
<br>
<br>
<div class="form-group">
    <p>@Html.ActionLink(@Model.Sender, "CreateMessage", "Message", new { receive = @Model.Sender }, null) | @Model.DateSend</p>
    <label>Nội dung</label>
    <textarea class="form-control" rows="10">@Model.Message</textarea>
</div>
